
.card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 10px;
}


.card-element:nth-child(1){
   font-weight: bold;
   font-size: 23px;
}


.card-element{
    font-family: 'Helvetica';
    font-size: 20px;
}

.card-container:nth-child(odd){
    background-color:lightgray;
}

.input-field {
    width: 100%;
    padding-bottom: 10px;
    outline: none;
}